body{
    padding: 0;
    margin: 0;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 52vw bottom 35vh, left 48vw top 52vh;
   
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  
}
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    
    
}
svg{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
img{
    width: 100px;
    border-radius: 50px;
    margin-left: 120px;
    margin-top: -50px;
   
}
span{
    margin-left: 15px;
    font-size: 17px;
    font-weight: 400;
    opacity: 0.3;

}
.opacity{
    opacity: 0.3;
}
.bottom-card{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
p{
    margin-top: 0;
}
h2{
    margin-bottom: 10px;
}
.text{
    text-align: center;
}
.line{
    border-bottom: 2px solid #ccc;
    display: block;
    margin-left: 0;
}
.num{
    font-weight: 700;
    margin-bottom: 0;
}
.light-text{
    opacity: 0.4;
    font-size: 15px;
}